{% extends 'base.html' %}
{% load static %}
{% block content %}
<center><h1>Add Movies</h1></center>

<!--<form method="POST" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->

<!--<div class="mb-3 row">-->
<!--  <label  class="col-sm-1 col-form-label mx-2">Movie Name</label>-->
<!--    <div class="col-sm-6">-->
<!--  <input type="text" class="form-control" name="m" placeholder="Enter movie name">-->
<!--        </div>-->
<!--</div>-->
<!--    <div class="mb-3 row ">-->
<!--  <label  class="col-sm-1 col-form-label mx-2">Description</label>-->
<!--        <div class="col-sm-6">-->
<!--  <input type="text" class="form-control" name="d" placeholder="movie description">-->
<!--            </div>-->
<!--</div>-->

<!--    <div class="mb-3 row">-->
<!--  <label  class="col-sm-1 col-form-label mx-2">Movie Image</label>-->
<!--        <div class="col-sm-6">-->
<!--  <input type="file" class="form-control"  name="i" placeholder="upload image">-->
<!--            </div>-->
<!--</div>-->

<!--<div class="mb-3">-->
<!--    <center><input type="submit" class="btn btn-primary"></center>-->


<!--</div>-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--</center>-->
<div style="position:relative;left:38%;margin-top:3px;">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}

    </table>
    <input type="submit">
</form>
    </div>
{% endblock %}